address: '127.0.0.1:8080'         # self ip:port address where API service will be available
services:                       # list of currently avalible API services
    - database-postgres-crane-data-server:
        name: 'crane_data_server'
        type: postgres
        path: 'localhost:5432'
        user: crane_data_server
        pass: 00d0-25e4-*&s2-ccds
        # replaceNullWithDefault:
