[Unit]
Description=Run api-server application as Service
After=syslog.target network.target multi-user.target

[Service]
User=scada
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/scada/api-server/
ExecStart=python3.10 api-server

[Install]
WantedBy=multi-user.target
