[Unit]
Description=API Server
After=syslog.target network.target multi-user.target

[Service]
User=scada
Type=simple
Restart=always
RestartSec=5
# WorkingDirectory=/home/scada/api-server/
ExecStart=api-server --config /home/scada/api-server/config.yaml

StandardOutput=append:/var/log/api-server.log
StandardError=append:/var/log/api-server.log

[Install]
WantedBy=multi-user.target
