[Unit]
Description=API Server
After=syslog.target network.target multi-user.target

[Service]
User=scada
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/scada/api-server/
ExecStart=api-server --config /home/scada/api-server/config.yaml

StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
